.Timer {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  
}
@media only screen and (max-width: 600px) {
  .TimerSec {
    display: none;
  }
}

.time {
  font-size: 32px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.Home {
  margin: 30px
}

.UserPage {
  margin: 20px
}

.Task {
  margin :30px
}

.link {
  color: white;
  text-decoration: none;
}
